.section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 11rem 25rem 1fr 1fr;
    gap: 8px;

    padding: 8px 0px;
}

.cuadro1 {
    background-color: orange;
    border-radius: 5px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    grid-row: 1/2;
    grid-column: 1/2;
}

.cuadro2 {
    background-color: orange;
    border-radius: 5px;
    color: white;
    padding: 4rem 55.8rem;

    grid-row: 2/3;
    grid-column: 1/2;
}

.cuadro3 {
    height: 10rem;
    background-color: orange;
    border-radius: 5px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    
    grid-row: 3/4;
    grid-column: 1/2;
}

.cuadro4 {
    height: 10rem;
    background-color: orange;
    border-radius: 5px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    grid-row: 4/5;
    grid-column: 1/2;
}